<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
    <style></style>
    <link rel="stylesheet" href="../assets/stylesheets/html_to_pdf.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
<main id="code-example">
    <section id="intro">
        <p>
            I have been excited about the Open Source community for a long time and have been looking for more way to get involved.
            Most of my code is proprietary making it difficult to share.
            So what I have started doing is sharing extensions and resolving issues of existing projects.
            Especially if I can see that my code can be useful to others.
        </p>
    </section>
    <section id="prs">
        <h3>Examples:</h3>
        <ul>
            <li>
                <article id="dhh_pr" class="center-contents row">
                    <h4 class="margin-none">An extension and my first DHH approved PR:</h4>
                    <a href="https://github.com/rails/kredis/pull/160">Add the smove method to Kredis::Types::Set #160</a>
                </article>
            </li>
            <li>
                <article>
                    <h4 class="margin-none">Reported an issue to the <a href="https://github.com/countries/countries">Countries gem</a> and then fixed it:</h4>
                    <ul>
                        <li>
                            <span>Issue: <a href="https://github.com/countries/countries/issues/863">method_missing throws an internal error in CountryFinderMethods.method_missing #863</a></span>
                        </li>
                        <li>
                            <span>Pull Request: <a href="https://github.com/countries/countries/pull/866">method_missing throws an internal error in CountryFinderMethods.method_missing #866</a></span>
                        </li>
                    </ul>
                </article>
            </li>
        </ul>
    </section>
    <section>
        <p class="margin-none">
            Recently I took on the challenge of bring some granularity to <a href="https://www.flippercloud.io/docs/instrumentation#subscribing-to-feature-operations">Flipper's Instrumentation</a> all inclusive megaphone implementation.
            I have decided to extract the solution into a small group of gems to provide the following functionality:
        </p>
        <div>
            <h4 style="margin-top: 5px; margin-bottom: 5px;">Custom Features</h4>
            Rails' Single Table Inheritance <a href="https://api.rubyonrails.org/classes/ActiveRecord/Inheritance/ClassMethods.html#method-i-compute_type"><code>sti_class_for(type_name)</code></a> method inspired me on how to extend Flipper so that it can work with Feature Subclasses.
            This allowed us to inform and memoize new Custom Feature subclasses within Flipper and allow subscribers to only scribe to a specific feature's events.
            <pre><code class="language-ruby">
# After reviewing the code, I decided to extend the Feature.new method and
# introduce Polymorphic behavior
# https://github.com/flippercloud/flipper/blob/
#                1e25bd8065176ba815fdca34b6f26c0495816f49/lib/flipper/dsl.rb#L216
def feature(name)
  if !name.is_a?(String) && !name.is_a?(Symbol)
    raise ArgumentError, "#{name} must be a String or Symbol"
  end

  @memoized_features[name.to_sym] ||= Feature.new(name, @adapter, instrumenter:)
end

# I prepended in order to be preserve the original method
Flipper::Feature.prepend Flipper::CustomFeatures

# override the `Flipper::Feature.new` method to return custom feature instances
# Either way, the instance will be memoized by the Flipper::DSL.feature method.
# custom_features can be initialized, configured to automatically register subclasses,
# or custom classes can be explicitly registered.
def new(name, *, **)
  polymorphic_feature?(name) ? custom_features[name.to_sym].new(name, *, **) : super
end
         </code></pre>
            <div>
                Just like in Rails' Single Table Inheritance <a href="https://api.rubyonrails.org/classes/ActiveRecord/Inheritance/ClassMethods.html#method-i-compute_type"><code>sti_class_for(type_name)</code></a> method, we need the <code>polymorphic_feature?</code> method to break the recursion when initializing the Subclass.
                This gives us the ability to add functionality to Flipper::Feature without touching the original class.
            </div>
        </div>
        <div>
            <h4>Feature State Changes</h4>
            One feature that can be added is making the Features only responsive to changes in state.
            This is in contrast to Flipper::Features generating noise by broadcasting all events for all features in the same notifications subscription.
            This can be hand rolled or implemented via a State Machine.
            We chose to go with the <a href="https://github.com/aasm/aasm">AASM gem</a> because it is expecting a <code>state</code> attribute to be present and that is the name of the column Flipper uses for the same purpose.
            <pre><code class="language-ruby">
class MyStatefulFeature < Flipper::Feature
  prepend Flipper::FeatureAASM
end

module Flipper
  module FeatureAASM
    prepended do
      include AASM

      aasm column:               :state,
           enum:                 false,
           namespace:            :feature_state,
           # TODO: verify if this can be set to true in the test environment
           no_direct_assignment: (true unless Rails.env.test?) do
        state :off
        state :on

        event :enable_feature do
          # calls feature_enabled only on a transition from :off to :on
          transitions from: :off, to: :on, after: :feature_enabled
          transitions to: :on
        end

        event :disable_feature do
          # calls feature_disabled only on a transition from :on to :off
          transitions from: :on, to: :off, after: :feature_disabled
          transitions to: :off
        end
      end

      # override the Flipper::Feature#enable method and inject the the AASM event
      def enable(thing = true)
        # TODO: see if enable! and disable! can be used here instead of enable_feature
        enable_feature if super # enable returns a bool value,
        # so we let Flipper tell us if we can proceed with a state change check
      end

      def disable(thing = false)
        disable_feature if super
      end

      private

      # if the state changes, we can instrument just the state change event
      def feature_disabled
        instrument(:feature_disabled)
      end

      def feature_enabled
        instrument(:feature_enabled)
      end
    end
  end
end
            </code></pre>
<code></code>
        </div>
        <div>
            <h4>ActiveSupport Subscriber / Responder</h4>
            Feature subclasses give us the ability to subscribe to a broadcast events for only the subclass
            Feature State Changes provide even more options when interacting with an ActiveSupport::Notifications subscription
            This drastically reduces the number of events that a subscriber needs to parse, reducing complexity, while also encapsulating event response logic for reuse in other Features.
            Additionally, Feature subclasses, especially with well named namespaces, make it easy to organize and share ActiveSupport::Notifications subscriptions and response objects with other Feature subclasses.
            <pre><code class="language-ruby">
class MyObject
  # we can include Feature subclass notification event modules to indicate
  # what feature events this object is concerned with
  include FeatureOperation::MyStatefulFeature
  # we can leverage Namespacing to target only the state change events for that specific
  # Feature subclass
  include FeatureOperation::MyStatefulFeature::StateChange
end

# inclusion of the Feature subclass notification event module can be used to register
# the objects to subscribe to that particular notification pattern
def included(subscriber)
  # in this case the subscriber_module
  #              => FeatureOperation::MyStatefulFeature::StateChange::Subscriber
  [subscriber_module].compact_blank.each { |mod| subscriber.include mod }

  # initializes some variables for establishing the subscription later
  subscriber.initialize_subscription_to(subscribable: self)
  # registering subscriber with the Notification Event
  subscribers.add(subscriber)
end


# at this point the code lays primed and dormant,until a Feature is initialized
# At the same time that we prepended to the Flipper::Feature class,
#    we also prepended to the Flipper::Feature::DSL class
Flipper::DSL.prepend Flipper::CustomFeatures::DSL

module Flipper::CustomFeatures::DSL
  # def feature(name)
  #   if !name.is_a?(String) && !name.is_a?(Symbol)
  #     raise ArgumentError, "#{name} must be a String or Symbol"
  #   end
  #
  #   @memoized_features[name.to_sym] ||= Feature.new(name, @adapter, instrumenter:)
  # end
  def feature(name)
    # this method is called when Flipper is inquired about a Feature
    # again we preserve the original method and then call our functionality
    super.tap(&:fulfill_subscriptions)
  end
  alias [] feature
end

def fulfill_subscriptions
  subscribers.each do |subscriber|
    subscriber.subscribe_to(event: instrumentation_event)
  end
end

class << self
  def initialize_subscription_to(subscribable:, **)
    event_subscriptions.with_defaults!(subscribable => nil)
    event_responders.with_defaults!(subscribable => responder_for(subscribable:))
  end

  def subscribe_to(event:, **options)
    event_subscriptions[event] ||= build_subscription(event:, **options)
  end

  private

  def build_subscription(event:, monotonic: true, **options)
    subscription_arguments = subscription_arguments_from(event:, **options)
    # this will be a 2 element array with an event pattern and a Responder
    # the event pattern has a known default =>
    #           Flipper's primary event pattern "feature_operation.flipper"
    unless monotonic
      return ActiveSupport::Notifications.subscribe(*subscription_arguments)
    end

    ActiveSupport::Notifications.monotonic_subscribe(*subscription_arguments)
  end

  def responder_for(subscribable:)
    responder_namespaces_for(subscribable:).join("::").safe_constantize
  end

  def responder_from(event:, responder: nil, **)
    # use the passed in responder, if present
    # Otherwise look for a registered responder
    # Then try to find one using the event's namespace
    responder || event_responders.fetch(event, responder_for(subscribable: event))
  end

  def responder_namespaces_for(subscribable:)
    [name, *subscribable.name.split("::"), "Responder"]
  end

  def subscription_arguments_from(event:, responder: nil, **)
    [event.try(:pattern), responder_from(event:, responder:, **)].compact_blank
  end
end

# like the Subscriber objects we can optionally define Responder objects
module FeatureOperation
  module MyStatefulFeature
    module StateChange
      class Responder
        class << self
          def call(_name, _started, _finished, _unique_id, payload)
            ### Mission Accomplished ###
            # the Responder will call the subscriber's state_change method
            #   with the instrumenter payload
            subscriber.send(feature_state_change_method(**payload))
          end

          private

          delegate(*%i[feature_name], to: :feature)

          def feature
            # TODO: break this down into more readable shared methods
            module_parent.module_parent.name.demodulize.safe_constantize
          end

          def feature_state_change_method(operation:, **)
            # NOTE: currently works from a naming convention
            # TODO: consider alternatives
            "#{feature_name}_#{operation}"
          end

          def subscriber
            # TODO: determine dynamically / through dependency injection
            MyObject
          end
        end
      end
    end
  end
end</code></pre></div>


This is still a work in progress, I was actually wrapping up this code when I first learned about this position.
I am happy to share my repo on it once it is built, I extracted these examples from my work repo as authorized by my Director of Development.
    </section>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/components/prism-ruby.min.js"></script>
<button onclick="generatePDF()">Generate PDF</button>
<script>
    function replaceSvgCssVars(element) {
        const svgs = element.querySelectorAll('svg *');

        svgs.forEach(el => {
            ['fill', 'stroke', 'color'].forEach(attr => {
                const val = el.getAttribute(attr);
                if (val && val.startsWith('var(')) {
                    const cssVarName = val.slice(4, -1).trim();
                    const realColor = getComputedStyle(el).getPropertyValue(cssVarName).trim();
                    if (realColor) {
                        el.setAttribute(attr, realColor);
                    }
                }
            });
        });
    }

    function generatePDF() {
        const element = document.querySelector('main');
        const opt = {
            margin:       0,
            filename:     'code_example.pdf',
            html2canvas:  { scale: 3 },
            pagebreak:    { mode: ['avoid-all', 'css', 'legacy'] },
            jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' }
        };

        // replaceSvgCssVars(document.querySelector('#stack-overflow-logo'));
        html2pdf().set(opt).from(element).save();
    }
</script>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Ruby Code Highlighting with Prism.js</title>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism.min.css" rel="stylesheet" />-->
<!--    <style>-->
<!--        body {-->
<!--            font-family: Arial, sans-serif;-->
<!--            margin: 20px;-->
<!--        }-->
<!--        pre {-->
<!--            background-color: #f0f0f0;-->
<!--            padding: 15px;-->
<!--            border-radius: 5px;-->
<!--            overflow-x: auto;-->
<!--            margin-bottom: 20px;-->
<!--        }-->
<!--        pre code {-->
<!--            font-size: 14px;-->
<!--            line-height: 1.5;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Ruby Code Example with Prism.js</h1>-->

<!--<p>Here's a Ruby code snippet:</p>-->

<!--<pre><code class="language-ruby">-->
<!--def hello(name)-->
<!--  puts "Hello, \#{name}!"-->
<!--end-->

<!--hello("World")-->

<!--class MyClass-->
<!--  attr_accessor :my_attribute-->

<!--  def initialize(my_attribute)-->
<!--    @my_attribute = my_attribute-->
<!--  end-->

<!--  def my_method-->
<!--    puts "My attribute is: \#{@my_attribute}"-->
<!--  end-->
<!--end-->

<!--obj = MyClass.new("Example")-->
<!--obj.my_method-->
<!--    </code></pre>-->

<!--<p>Key Features Demonstrated:</p>-->
<!--<ul>-->
<!--    <li>Function definition and calling</li>-->
<!--    <li>String interpolation</li>-->
<!--    <li>Class definition with an attribute and method</li>-->
<!--    <li>Object instantiation and method call</li>-->
<!--</ul>-->

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/components/prism-ruby.min.js"></script>-->
<!--</body>-->
<!--</html>-->