<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
    <style></style>
    <link rel="stylesheet" href="../assets/stylesheets/resume.css">
</head>
<body>

<button onclick="generatePDF()">Generate PDF</button>
<script>
    function replaceSvgCssVars(element) {
        const svgs = element.querySelectorAll('svg *');

        svgs.forEach(el => {
            ['fill', 'stroke', 'color'].forEach(attr => {
                const val = el.getAttribute(attr);
                if (val && val.startsWith('var(')) {
                    const cssVarName = val.slice(4, -1).trim();
                    const realColor = getComputedStyle(el).getPropertyValue(cssVarName).trim();
                    if (realColor) {
                        el.setAttribute(attr, realColor);
                    }
                }
            });
        });
    }

    function generatePDF() {
        const element = document.querySelector('main');
        const opt = {
            margin:       0,
            filename:     'resume.pdf',
            html2canvas:  { scale: 3 },
            pagebreak:    { mode: ['avoid-all', 'css', 'legacy'] },
            jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' }
        };

        replaceSvgCssVars(document.querySelector('#stack-overflow-logo'));
        html2pdf().set(opt).from(element).save();
    }
</script>
</body>
</html>