:root {
    --37signals-primary-text-color: white;
    --37signals-secondary-text-color: rgb(150, 154, 158);
    --body-background-color: whitesmoke;
    --default-spacing: 15px;
    --double-spacing: calc(var(--default-spacing) * 2);
    --header-background-color: black;
    --linked-in-primary-logo-color: #0077B5;
    --stack-overflow-primary-logo-color: #F48024;
    --stack-overflow-secondary-logo-color: #BCBBBB;
}

address:hover path {
    fill: orangered;
}

body {
    background-color: darkgrey;
    color: black;
    font-family: "Lab Grotesque", sans-serif;
    font-feature-settings: "liga", "ss02";
    padding: 25px;
}

footer {
    padding: 0 var(--default-spacing) var(--default-spacing) var(--default-spacing);
}

header {
    background-color: var(--header-background-color);
    color: var(--37signals-primary-text-color);
    font-family: "Lab Grotesque", sans-serif;
    font-feature-settings: "liga", "ss02";
    height: 105px;
    margin: auto;
    padding: 10px calc(var(--default-spacing)*1.5);
}

header .role {
    margin: unset;
}

main {
    background-color: var(--37signals-primary-text-color);
    margin: auto;
    width: 820px;
}

p {
    margin: 10px 0;
}

section {
    padding: 0 var(--double-spacing);
    font-size: 14px;
}

sup a {
    /*text-decoration: none;*/
    margin-left: 2px;
}

 /*'\33 ' = Unicode escape for 3*/
#\33 7signals-logo {
    fill: black;
    height: 30px;
    margin-right: calc(var(--default-spacing)/2);
}

#closing :first-child {
    margin-top: unset;
}

#closing :last-child {
    margin-bottom: unset;
}

#contact-info {
    font-size: 14px;
}

#footnotes h5, #signals h5 {
    margin: 5px 0 0 0;
}

#footnotes ol, #signals ol {
    font-size: 12px;
    margin: unset;
}

/*#intro {*/
/*    background-color: #F48024;*/
/*}*/

#intro p {
    margin-top: -10px;
    margin-bottom: 5px;
}

#linked-in-logo:hover path {
  fill: var(--linked-in-primary-logo-color);
}

#name {
    margin-bottom: calc(var(--default-spacing)/2);
    margin-top: unset;
    text-align: center;
}

#overview {
    background-color: var(--body-background-color);
    padding: 5px var(--double-spacing);
    /*padding-right: var(--double-spacing);*/
}

#overview :first-child {
    margin-top: unset;
}

#overview :last-child {
    margin-bottom: unset;
}

#position-link {
    color: var(--37signals-secondary-text-color);
    margin: 0 var(--default-spacing);
    text-decoration: none;
}

#position-link:hover {
    color: var(--37signals-primary-text-color);
}

#signature {
    margin: unset;
}

#social-links {
    font-size: 12px;
    justify-content: flex-end;
}

#source-link {
    text-wrap: nowrap;
    width: fit-content;
}

#stack-overflow-logo:hover path {
    fill: var(--stack-overflow-primary-logo-color);
}

#stack-overflow-logo:hover polygon {
    fill: var(--stack-overflow-secondary-logo-color);
}

#sub-title {
    margin: unset;
}

#title {
    align-items: center;
}

#title h3 {
    justify-content: space-between;
    margin: unset;
    width: fit-content;
}

.center-contents-vertically {
    display: flex;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.flipper-logo {
    height: 30px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%
}


.link {
    color: var(--37signals-secondary-text-color);
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.link:hover {
    color: var(--37signals-primary-text-color);
}

.link:hover {
    color: var(--37signals-primary-text-color);
}

.link:not(:last-child) {
    margin-right: var(--default-spacing);
}

.link span {
    align-content: center;
}

.link svg {
    margin-right: 10px;
}

.margin-none {
    margin: unset;
}

.space-between {
    display: flex;
    justify-content: space-between;
}
